<app-modal modal-title="새로운 토픽 만들기" class="CreateTopicModal">
    <div ng-if="$ctrl.isErrorCaught" class="CreateTopicModal__error">
        유효하지 않은 토픽입니다. 다른 이름을 사용해 주세요.
    </div>

    <div class="CreateTopicModal__image">
        <span ng-style="{ 'background-image': 'url(' + $ctrl.imageFileSrc + ')' }"></span>
        <app-file-selector on-file-select="$ctrl.onFileSelect(file)"></app-file-selector>
    </div>

    <div class="CreateTopicModal__name">
        <input ng-model="$ctrl.topicName" placeholder="토픽 이름" type="text" />
    </div>

    <div class="CreateTopicModal__toolbar">
        <button ng-click="$ctrl.createTopic()" ng-disabled="$ctrl.isRequesting" class="CreateTopicModal__submit">확인</button>
        <button ng-click="$ctrl.close()">취소</button>
    </div>
</app-modal>
