<div class="Home">
    <header class="Home__header">
        <div class="Home__headerLeft">
            <img src="assets/images/logo.png" class="Home__logo" />
        </div>

        <div class="Home__headerRight">
            <button ng-click="$ctrl.hrefFavorite()" class="Home__favoriteBtn">
                <i class="Icon" data-icon-name="favorite"></i>
            </button>
        </div>
    </header>

    <section class="Home__chatList">
        <div ng-repeat="topicItem in $ctrl.topicItems track by topicItem.id"
             ng-click="$ctrl.hrefTopicHome(topicItem)"
             ng-style="{ 'background-image': 'url(' + topicItem.background_image_url + ')' }"
             class="Home__chatItem">
            <span ng-bind="topicItem.name"></span>
            <label></label>
        </div>
    </section>
</div>
